/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
public/image
public/hot
storage/debugbar
composer.lock
storage/ad
storage/tool
storage/index
public/sitemap.xml
database/db.sql
storage/worker.log
Envoy.blade.php
public/images/dictionaries
public/images/users/
public/images/pages/
public/images/glosariums
/storage/*.key