/node_modules
/public/storage
/vendor
/.idea
/.phpintel
Homestead.json
Homestead.yaml
.env
/storage/debugbar
composer.lock
/public/sitemap.xml
/database/db.sql
/storage/worker.log
Envoy.blade.php
/storage/*.key
/storage/logs/*.log
