/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
app/Jobs/GrabGlossary.php
storage/data.txt
resources/views/controllers/words/partials/ad-billboard.blade.php
resources/views/controllers/words/partials/ad-responsive.blade.php
resources/views/partials/ga-analytic.blade.php
public/image
storage/debugbar
