header.latest-words {
    margin-top: 20px;
}

div.logo {
    margin-top: 20px;
}

.page-header .button-group .btn {
    margin-left: 0;
}

.item-block header .category {
    display: block;
    color: #96a2b2;
    line-height: 35px;
}
